* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
}
.menu {
  font-size: 20px;
  margin-right: 270px;
}
.nav {
  font-size: 30px;
  color: rgb(199, 177, 177);
  padding-right: 10px;
  padding-top: 20px;
  margin-left: 30px;
  margin-top: 5px;
}

ul {
  text-align: right;
}

ul li {
  display: inline-block;
  list-style: none;
  margin-top: 0px;
  margin-right: auto;
  margin-left: 10px;
}

ul li a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(224, 212, 212);
  justify-content: space-between;
  margin: 70px;
  padding: 5px;
}

ul li a:hover {
  color: rgba(71, 71, 69, 0.555);
}
.menu :hover {
  color: rgb(49, 33, 33);
}

.list {
  color: rgb(136, 127, 127);
  margin: 70px;
  padding: 30px;
}

.list h3 {
  font-size: 20px;
  display: inline-block;
  padding: 8px 100px;
  border: 3px solid;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}
.list h3:hover {
  background-color: rgb(209, 187, 187);
  color: rgb(24, 23, 23);
}

.list h4 {
  font-size: 17px;
  width: 100px;
  height: 15px;
  padding: 10px 25px;
  border: 5px solid;
  color: rgb(121, 3, 3);
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  margin-top: 5px;
  margin-left: 100px;
  margin-bottom: 10px;
}

.list h4:hover {
  background-color: #fff;
  color: rgb(134, 10, 10);
}
img {
  float: right;
  width: 70vh;
  height: 350px;
  margin-top: auto;
  margin-right: 250px;
  margin-bottom: 0px;
}

h3 {
  font-size: 20px;
  font-family: sans-serif;
  margin: 20px;
}

.autor {
  color: rgb(236, 225, 225);
  justify-content: space-between;
  display: inline-block;
}

h5 {
  padding-top: 10px;
  margin-left: 30px;
  font-size: 20px;
}

h6 {
  font-size: 20px;
  padding: 5px;
  margin-left: 25px;
}

p {
  display: block;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  margin-left: 600px;
}

.autor-box {
  color: #fff;
  margin-top: 50px;
}

.autor-box h1 {
  font-size: 25px;
  margin-top: 30px;
  text-decoration: none;
  margin-left: 550px;
}

.autor-box h2 {
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
  margin-left: 350px;
}

.row {
  display: flex;
  padding: 5px;
  border-radius: 50px;
}
.column {
  width: 25%;
  float: left;
  margin-top: 20px;
  margin-bottom: 100px;
}

.autor-box a {
  color: rgb(250, 244, 244);
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-top: 50px;
}

.hero-text {
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}
.hero-text-one {
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
  justify-content: space-between;
}

.header {
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
}
.header-one a {
  color: aqua;
}
